<h1><%= t("user.users") %></h1>

<%= link_to t('user.new'), new_user_url %>

<table>
  <tr>
    <th><%= t('user.name') %></th>
    <th><%= t('user.admin') %></th>
    <th><%= t('user.edit') %></th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.name %>
      </td>
      <td>
        <%= user.admin %>
      </td>
      <td>
        <%= link_to user.name, edit_user_url(user.id) %>
      </td>
      <td>
        <% unless user.name == 'admin' %>
          <%= link_to t('app.delete'), user_url(user.id), data: {
            method: :delete,
            confirm: t('app.confirm')
          } %>
        <% end %>
      </td>
    </tr>
  <% end %>
<table>

